dist/*.js
src/assets
tests/unit/coverage
public/**/*.js
utils/*.ts
index.tsx
@core
layouts
navigation
SecondPage.js
NotAuthorized.js
Login.js
Home.js
Error.js
ThemeColors.js
Router.js
stories
utility
store.js
